:host {
  display: block;
  width: 100%;
}

:host #kick {
  background: url(images/kick-off.png);
  height: 75px;
  display: block;
  cursor: pointer;
}
:host #kick.on {
  background: url(images/kick-on.png);
}

:host audio {
  display: none;
}
